/* estilos raíz */
:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  /* css variables */
  --transition-speed: 600ms;
  --primary-red: #ff0000;
  --dark-red: #cc000c;
  --light-red: #ff3333;
}

a {
  text-decoration: none;
}

/* estilos del cuerpo */
body {
  color: white;
  background-color: #212121;
  margin: 0;
  padding: 0;
}

.body-light {
  color: #111;
  background-color: #e8e8e8;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-red);
}
/* estilos para el main */
#main {
  /* es una unidad relativa al tamaño de fuente en el selector root, 5rem * 16px = 80px */
  margin-left: 5rem;
  padding: 1rem;
}
/* estilos para el menú */
.navbar {
  /* tiene que estar al tamaño del main */
  position: fixed;
  background-color: var(--dark-red);
  transition: 200ms ease;
  z-index: 1000;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* svg,
img {
  width: 2rem;
  height: 2rem;
} */

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  /* filter: grayscale(100%); */
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--light-red);
  color: black;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link img,
svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  /* esto se cambia para dispositivos pequeños */
}

.fa-secondary {
  color: gradient(circle, #ff4500, #ffa500, #ffd700, #fff);
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  background-color: var(--dark-red);
  font-size: 0.9rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0);
  transition: transform var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-540deg);
}

/* small screen */

@media only screen and (max-width: 600px) {
  :root {
    font-size: 10px;
  }

  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  #main {
    margin: 0;
  }

  /* cambia el tamaño de las pictures */

  /* svg,
  img {
    width: 1.7rem;
    height: 1.7rem;
  } */

  .nav-link img,
  svg {
    width: 1.7rem;
    min-width: 1.7rem;
    margin: 0 1.5rem;
    /* esto se cambia para dispositivos pequeños */
  }
}

/* large screen */

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}
/* estilos para el error */
.error-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-top: 3.125rem;
}

/* tarjeta de error */
.return-error {
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
  color: white;
  margin: 0;
  text-align: center;
  display: block;
  width: 100%;
  font-weight: bold;
}

.return-error::before {
  content: "\1F519"; /* Código Unicode del emoji de flecha hacia la izquierda */
  font-size: 24px; /* Ajusta el tamaño de fuente para el emoji */
  margin-right: 6px; /* Agrega un espacio a la derecha del emoji */
}

.error {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ef665b;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  margin-top: 20px;
}

.error-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 8px;
  fill: #fff;
}

.error-icon path {
  fill: #fff;
}

.error-title {
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

/* frases section */

.quote {
  width: calc(33.33% - 20px);
  width: 100%;
  max-width: 300px;
  height: 264px;
  background: linear-gradient(
    -45deg,
    #ff4500,
    #ffa500,
    #ffd700
  ); /* Gradiente de colores cálidos */
  font-family: inherit;
  position: relative;
  margin-bottom: 20px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.quote:hover {
  filter: brightness(1.2) saturate(1.5); /* Aumento de brillo y saturación */
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.card-name {
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  padding: 35px;
}

.body-text {
  font-size: 16px;
  font-weight: bold;
  padding: 60px 40px 0;
  color: black;
  position: absolute;
  top: 2vw;
  left: 1vw;
  font-style: italic;
}

.author {
  /* baja el tamaño del autor */
  margin-top: 100px;
  opacity: 0;
  transition: 0.5s;
}

.quote:hover .author {
  opacity: 1;
}

.pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author-container {
  display: flex;
  align-items: center;
}

.author {
  font-weight: 700;
  color: black;
  padding-left: 30px;
}

.quote .author svg {
  display: inline;
  font-size: 13px;
}
.quote-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding: 25px;
}

.phrase-title {
  text-align: center;
  margin-bottom: -20px;
}

/* estilos para el contenido destacado */
.cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cards-row {
  display: flex;
  gap: 15px;
}

.cards .card {
  background: linear-gradient(to bottom, #ff6347, #ffa07a, #ffdab9);
  border: 1px solid rgba(0, 0, 0, 0.22);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 200px;
  width: calc(33.33% - 20px);
  border-radius: 10px;
  cursor: pointer;
  transition: 400ms;
  margin: auto;
  max-width: 100%;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

@media only screen and (max-width: 600px) {
  .cards .card {
    height: 200px;
    width: 350px;
  }
  /* Ajustar el margen entre las tarjetas en la segunda fila */
  .cards-row:last-child .card:nth-child(2) {
    margin-left: 1px;
  }
}

@media only screen and (min-width: 600px) {
  /* Ajustar el margen entre las tarjetas en la segunda fila */
  .cards-row:last-child .card:nth-child(2) {
    margin-left: -100px;
  }
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}

.cards .card:hover {
  transform: scale(1.1, 1.1);
  border: 1px solid black;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

.cards:hover > .cards-row:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.post-title {
  text-align: center;
}

/* loader styles */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* form styles */
.form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin: auto;
  border: 1px solid black;
  background: linear-gradient(to bottom, #ffdab9, #ffa07a);
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  margin-bottom: 50px;
}

.form:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 1); /* tema claro */
}

.form-title {
  font-size: 28px;
  color: black;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.form-title::before,
.form-title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: black;
}

.form-title::before {
  width: 18px;
  height: 18px;
  background-color: var(--primary-red);
}

.form-title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message {
  color: #111;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 20px 10px 20px 20px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
  box-sizing: border-box;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: var(--primary-red);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: var(--light-red);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.title-section-form {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 80%;
    max-width: none;
  }
}
.loader-form {
  margin: auto;
  display: none;
}
.response {
  color: green;
  text-align: center;
  font-weight: bold;
  display: none;
}

.response-error {
  color: var(--primary-red);
  text-align: center;
  font-weight: bold;
  display: none;
}

.response2-error {
  color: var(--primary-red);
  text-align: center;
  font-weight: bold;
  display: none;
}

/* about section and hero section styles */

.hero {
  background: linear-gradient(to bottom, #ffdab9, #ffcba4, #ffa07a);
  text-align: center;
  padding: 20px 0;
  color: black;
  border-radius: 8px;
  border: 1px solid black;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-logo {
  max-width: 100%;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto 20px;
  animation: fadeInDown 1.5s ease-out;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
}

.card1,
.card2,
.card3 {
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  color: black;
  width: calc(33.33% - 20px);
  background: linear-gradient(to bottom, #ffdab9, #ffa07a, #ff8c75);
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.card1,
.card2,
.card3 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card1,
.card2,
.card3 p {
  font-size: 16px;
}

.hero h1,
.hero p {
  animation: fadeInUp 1.5s ease-out;
}

/* Animaciones y efectos visuales */

@keyframes fadeInDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.phrase {
  font-style: italic;
}

/* search box styles */

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.logo-card {
  display: flex;
  justify-content: flex-end;
}

.title-card {
  display: flex;
  justify-content: center;
  font-size: 24px;
  text-align: center;
}

.logo-section {
  width: 300px;
  max-width: 100%;
  height: auto;
}

.search-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  position: relative;
}

.search-box {
  display: flex;
  position: relative;
  align-items: center;
  padding: 5px;
}

.search-input {
  background-color: #f2f2f2;
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  padding-right: 2.5rem;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Posición absoluta */
  right: 0; /* Alinear a la derecha */
  top: 0; /* Alinear arriba */
  height: 100%; /* Altura completa */
  width: 20%;
  border-radius: 30px; /* Ajustar esquinas inferiores */
  background-color: #007bff; /* Ajustar color de fondo */
  border: none;
  padding: 6px 10px;
  color: white;
}

.search-input:placeholder {
  font-weight: 100;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Single column for small screens */
    align-items: stretch;
    text-align: center;
  }

  .logo-card,
  .title-card,
  .search-card {
    justify-content: center;
  }

  .search-card {
    margin-top: 10px;
    position: relative; /* Establecer posición relativa */
  }

  .title-card {
    margin-top: 20px;
    font-size: 23px;
  }
  .search-box {
    position: relative; /* Establecer posición relativa */
  }

  .search-input {
    width: 100%; /* Ancho completo */
    box-sizing: border-box; /* Incluir el padding en el ancho */
    padding-right: 40px;
  }
  .search-button {
    position: absolute; /* Posición absoluta */
    right: 0; /* Alinear a la derecha */
    top: 0; /* Alinear arriba */
    height: 100%; /* Altura completa */
    width: 20%;
    border-radius: 30px; /* Ajustar esquinas inferiores */
    background-color: #007bff; /* Ajustar color de fondo */
    border: none;
    padding: 6px 10px;
    color: white;
  }

  .search-card {
    margin-top: 20px;
  }
}

.error-query {
  text-align: center;
  color: #cc000c;
  display: none;
  font-weight: bold;
}

.post-hidden {
  visibility: hidden;
  opacity: 0;
  order: 2;
}

.post-visible {
  visibility: visible;
  order: 1;
}
/* postCard styles */

.post-container {
  margin: 1rem auto;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.post {
  max-width: 100%;
  width: 320px;
  height: 350px;
  padding: 20px;
  color: white;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #ff0000, #ff8080) border-box;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transform-origin: right bottom;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1), all 0.3s ease-out;
  margin: auto;
  margin-bottom: 45px;
  /* box-sizing: border-box; baja el tamaño de la imagen pero soluciona lo del iPad*/
}

/* small screen */
@media only screen and (max-width: 600px) {
  .post {
    width: 250px;
  }
}

.post .main-content {
  flex: 1;
}

.post .header span:first-child {
  display: inline;
  font-weight: 600;
  color: #717171;
  margin-right: 4px;
}

.post .post-title {
  font-size: 24px;
  margin: 24px 0 16px;
  font-weight: 600;
}

.post .img-container {
  display: flex;
  gap: 8px;
}

.post .post-img {
  border-radius: 10px;
  width: 100%;
}

.post .post-footer a {
  text-decoration: none;
  font-weight: 600;
  color: #717171;
  margin-right: 4px;
}

.post-container .post {
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    box-shadow 0.3s ease-in-out;
}

.post-container .post:hover {
  transform: translateX(5px) translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* ourPact Section styles */

.title-pact-section {
  margin-top: -30px;
  text-align: center;
}

.pact-container {
  background: #f5f5f5;
  border-radius: 0.75rem;
  box-shadow: 0px 8px 16px rgb(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  transform-origin: center bottom;
  padding: 1rem;
  max-width: 100%;
  position: relative;
  color: black;
  margin: auto;
  border: solid 1px black;
}

.pact-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
}

.pact-content {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.6;
}

/* post-content */

.title-post {
  font-size: 30px;
}

.quote-italic {
  font-style: italic;
}

.post-header {
  background-color: #fff4e6;
  border-radius: 0.75rem;
  box-shadow: 0px 8px 16px rgb(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  transform-origin: center bottom;
  padding: 1rem;
  max-width: 100%;
  position: relative;
  color: black;
  margin: auto;
  border: solid 1px black;
  text-align: center;
}

.post-content {
  padding: 30px;
  font-size: 16px;
}

.post-content img {
  max-width: 100%;
}

.quote-post {
  color: black;
  background-color: #fff4e6;
  border-left: 4px solid #f9a826;
  padding: 10px 20px;
  margin: 20px 0;
  font-style: italic;
}

.summary-card {
  font-size: 16px;
  background-color: #fff4e6;
  border-radius: 0.75rem;
  box-shadow: 0px 8px 16px rgb(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  transform-origin: center bottom;
  padding: 1rem;
  max-width: 100%;
  position: relative;
  color: black;
  margin: auto;
  border: solid 1px black;
  text-align: center;
  margin-bottom: 45px;
}

.post-text {
  line-height: 1.6;
  text-align: left;
}
.highlighted {
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
}

.post-link {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

.keyword {
  color: red;
  font-weight: bold;
}

.post-message {
  font-weight: bold;
}

.title-p {
  font-size: 30px;
}
